# Build outputs
version.dll
version.dll.old
obj/
bin/
*.obj
*.exp
*.lib
*.pdb
StandaloneMod/version.dll
StandaloneMod/version.exp
StandaloneMod/version.lib
StandaloneMod/*.obj

# Runtime / logs
mod_log.txt
*.log

# IDE / OS
.vs/
*.user
.DS_Store
Thumbs.db
